.plim{
    padding: 10px;
    display: inline-block;
    width:120px;
    border-radius: 15px;
    border: solid 1px #ccc;
    font-family: "Poppins","Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
    
}
.lista{
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 15px;
    border: solid 1px #ccc;
    font-family:  "Poppins","Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
}
.cfg{
    padding: 4px;
}
.conteiner{
    padding-top: 10px;
    padding-left: 40px;
}
.header {
    float: left;
    font-family:  "Segoe UI",Arial,sans-serif;
    font-size: 15px;
    height: 70px;
    width: 600px;
    padding: 0px;
    vertical-align: middle;
}
.body{
    clear: left;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
    color: rgb(45, 45, 45);
    text-align: center;
    font-family:  "Segoe UI",Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
 }
 .area_logo {
     font-family:  "Segoe UI",Arial,sans-serif;
     font-size: 40px;
  }
  .area_menor {
      font-family:  "Segoe UI",Arial,sans-serif;
      font-size: 15px;
   }
     
.logo{
    height: 50px;
    vertical-align: middle;
}
.destaque{
    color:#00f;
    font-weight: bold;
}